flask
flask-cors
python-dotenv
flask-sqlalchemy
psycopg2-binary
numpy
huggingface-hub
requests
beautifulsoup4
playwright
pypdf
python-docx
python-pptx
werkzeug
bcrypt
supabase
gunicorn
Pillow
flask-compress
flask-limiter
